.cartHeader{
    margin: 1rem;
    color: rgb(43, 43, 43);
    background-color: #fff;
}
.btnDelet{
    width: 100%;
    height: 1.8rem;
    padding: 0px;
    vertical-align: middle;
}

td{
    vertical-align: middle;
    align-items: center;
}
.btnCheckOut{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 4rem;
}

.free{
    color: rgb(136, 255, 107);
}

.txtCenter{
    justify-content: center;
}

.imgCartShip{
    height: 3rem;
}
.btnCH{
    width: 30%;
    height:5rem;
}
