.pageNotFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}

@media (max-width: 375px) {
    .pageNotFound{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }
}