.detailContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%; 
    padding-top: 2rem;
 /* background-color: red; */
    margin-bottom: 3rem;
 } 

.imageContainer{
    display: flex;
    width: 60%;
    height: 500px;
    background-color: rgb(184, 184, 184);
}

.actionContainer{
    width: 30%;
    background-color: rgb(133, 133, 133);
}

.mainImage{
    width: 70%;
    margin-right: 1rem;
    padding: 2rem;

    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    
}

.imgM{
    display: block;
    margin: auto;
    width: 80%;
}
.sidebarRight{
    width: 100%;
    /* padding: 1rem; */
   
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
}

.sidebarContMin{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cart{
    background-color: blue;
    color: white;
}

.btnEnd{
    text-decoration: none;
    color: #fff;
    margin-bottom: 1rem;
}

.detail{
    color: rgb(133, 133, 133);
}

.detail span{
    font-weight: bold;
    margin-left: 0.5rem;
    color: rgb(0, 81, 255, 0.6);
    font-size: 0.8rem;
}

.creditCards{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:rgb(153, 153, 153);
}
.containerSidebar{
    width: 30%;
}

.list-group-item{
    border: none;
}

.info{
    font-family: 'LexandPeta';
    font-size: 0.7rem;
}

.price{
    font-family:'LexandPetaBold';
    font-size: 1rem;
}

@media (max-width: 375px) {
    .detailContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%; 
        padding-top: 2rem;
     /* background-color: red; */
        margin-bottom: 3rem;
     } 

     .imageContainer{
        display: flex;
        width: 100%;
        height: 500px;
        background-color: rgb(184, 184, 184);
    }
    .actionContainer{
        width: 100%;
        background-color: rgb(133, 133, 133);
    }
    .containerSidebar{
        width: 100%;
    }
    .mainImage{
        width: 100%;
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding: 2rem;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 5px;
        
    }
}

