.btnSubmit {
    width: 100%;

}

.space {
    height: 3rem;
    /* background-color: red; */
}

.rowSpace {
    height: 4rem;
    vertical-align: middle;
}

.row {
    justify-content: center;
}

.msjChechOut {
    /* width: 50%; */
    margin: 6rem;
}

.msjCode {
    border: 1px solid #20232aa9;
    margin-top: 2rem;
    padding: 1rem;
}

@media (max-width: 375px) {
    .msjChechOut {
        /* width: 50%; */
        margin: 5rem 1rem 3rem 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .msjCode {
        border: 1px solid #20232aa9;
        margin-top: 2rem;
        padding: 1rem;
    }
}