.cartContainer {
    background-color: #20232aa9;
    color: rgb(240, 240, 240);
    padding: 1rem 1rem 1rem 1rem;
    margin-right: 4rem;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0.3rem;
    z-index: 1;
    font-family: 'LexandPeta';
}

.cartLeft {
    margin-right: 0.2rem;
   
}

.cartCenter {
    /* background-color: red; */
    margin-right: 2rem;
}

.cartContainer div {

    display: flex;
    margin: 0.2rem;
    /*Para indicar como se va a comportar y obedece al padre con flex*/
}

.cartRight {
    padding-left: 0.5rem;
    color: rgb(228, 228, 228);
    /* width: 3rem; */
}

.a {
    color: rgb(201, 201, 201);
}

.a :hover {
    color: rgb(11, 108, 199);

}

@media (max-width: 375px) {
    .cartRight {
        padding-left: 0.5rem;
        color:  #20232a;

    }

    .cartContainer {
        position: initial;
        border-bottom: 1px solid #20232a;
        color: #20232a;
        background-color: #fff;
        /* padding-right: 0.5rem; */
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        margin-right: 0px;
        width: 100%;

    }
    .a {
        color: #20232a;;
    }
    
    .a :hover {
        color: rgb(11, 108, 199);
    
    }

}