.cardsDisp{
    display: flex;
    margin: 1rem;
    width: 15rem;
    
}

.linkItem{
    text-decoration: none;
    color: #fff;
    width: auto;
    
}

.btn-dark{
    width: 100%;
}

.imgList{
    height: 200px;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

p{
    margin: 0px;
}

.card-header{
    
    color: rgb(240, 240, 240);
}