.factoryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    font-family: 'LexandPeta';
}

.btnSubmit {
    width: 100%;
    height: 3rem;

}

.space {
    height: 3rem;
    /* background-color: red; */
}

.rowSpace {
    height: 4rem;
    vertical-align: middle;
}

.row {
    justify-content: center;
}

.msjChechOut {
    /* width: 50%; */
    margin: 6rem;
    text-align: center;
}

.msjCode {
    border: 1px solid #20232aa9;
    margin-top: 2rem;
    padding: 1rem;
}

.factory{
    margin-top: 0rem;
    margin-bottom: 5rem;
    
}

.factory h1{
    text-align: center;
}

.factoryResume{
    width: 60%;
    margin-top: 0rem;
    margin-bottom: 3rem;
    
}
.formFact{
    margin-top: 3rem;
}


@media (max-width: 375px) {
    .msjChechOut {
        /* width: 50%; */
        margin: 5rem 1rem 3rem 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .msjCode {
        border: 1px solid #20232aa9;
        margin-top: 2rem;
        padding: 1rem;
    }

    .factoryResume{
        width: 100%;
        margin-top: 0rem;
        margin-bottom: 1rem;
        
    }
    .factory{
        margin-top: 0rem;
        margin-bottom: 3rem;
        
    }
}