.brand{
    margin-right: 2rem;
}

.logo{
    width: 3rem;
}

.myTitle{
    font-size: 1.5 rem;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
}

.linkNav{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'LexandPeta';
    font-size: 0.6rem;
}

.linkNav:hover{
    color: rgb(129, 205, 255);
}


.prueba:hover{
    border-bottom: 2px solid #fff;
}

.catIcon{
    color: white;
    /* background-color: red; */
    filter: grayscale(10);
}


@media (max-width: 375px) {
    /* .brand{ */
        /* display: none; */
    /* } */
}