.brand{
    margin-right: 2rem;
}

.logo{
    width: 3rem;
}

.myTitle{
    font-size: 1.5 rem;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
}

.linkNav{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'LexandPeta';
    font-size: 0.6rem;
}

.linkNav :hover{
    color:rgb(11, 108, 199);
}

@media (max-width: 375px) {
    /* .brand{ */
        /* display: none; */
    /* } */
}