@font-face {
  font-family: 'LexandPetaBold';
  src: url(/src/assets/fonts/LexendPeta-Bold.ttf);
}

@font-face {
  font-family: 'LexandPeta';
  src: url(/src/assets/fonts/LexendPeta-Regular.ttf);
}

body{
  font-family: 'LexandPeta';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'LexandPetaBold';
}

p, li, span{
  font-family: 'LexandPeta';
  font-size: 0.8rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

header {
  background-color: #282c34;
  color: rgb(236, 236, 236);

}

.containerMain {
  display: flex;
}

.main {

  flex: 4;
  margin-right: 1rem;
  padding: 1rem;
  background-color: rgba(245, 102, 19, 1);
  ;
}

.sidebar {
  flex: 1;
  padding: 1rem;
  background-color: rgba(117, 61, 168, 0.8);
}

@keyframes late{
  from{
    transform: scale( 1);
  }
  to{
    transform: scale(1.2);
  }
}

.logo{
  animation-name: late;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  position: relative;
}

/* .items{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

@media (max-width:375px) {
  html{
    width: 100vw;
    overflow-x: hidden;
  }
}

