.btnCount{
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.containerBtnCount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.count{
    text-align: center;
    width: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: center;
}

.btnHand{
    
    background-color: rgb(24, 24, 24);
    color: rgb(238, 238, 238);
    border: none;
    width: 3rem;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);

}

.btnAdd{
    background-color: rgb(24, 24, 24);
    color: rgb(238, 238, 238);
    border: none;
    width: 100%;
}




